# --- DATABASE CONFIG ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_password
DATABASE_URL=postgresql://admin:your_secure_password@db:5432/attendance

# --- MINIO CONFIG ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_minio_password

# --- MONITORING ---
GF_SECURITY_ADMIN_PASSWORD=your_grafana_password

# --- NGROK CONFIG ---
NGROK_AUTHTOKEN=your_ngrok_auth_token_here
NGROK_DOMAIN=your-app-domain.ngrok-free.dev